.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#result {
    font-size: 32px; /* Style the h1 */
    color: #333;
    font-size:3em;

}

#result ,#csymbol {
    font-weight: bold; /* Style the span inside h1 */
    color: #333;
    display: none;
}

.exchange-rate {
  margin: 20px 0;
}

.exchange-rate p {
  font-size: 25px;
  font-weight: 100;
  color: #555;
}

.exchange-rate h2 {
  font-size: 32px;
  color: #333;
}

.currency-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.currency-group {
    display: flex;
    flex-direction: column; /* Stack label above the dropdown */
    align-items: flex-start; /* Align label and dropdown to the start */
    text-align: left; /* Align the label text to the left */
    margin-bottom: 2rem;
}

.currency-row label {
    font-weight: bold;
   }


#swap-currencies {
  width: 40px;
  height: 40px;
  background: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* fix the animation to hover / click */
#swap-currencies svg{
    width: 24px;
    height: 24px;
    transition:all 0.3s ease-in;
}
#swap-currencies:hover{

    color: white;
}
#swap-currencies .arrow-down {
    transition: transform 350ms ease;
}
#swap-currencies .arrow-up {
    transition: transform 350ms ease;
}



#swap-currencies:active .arrow-up {
    transform: translateX(100%);

}

#swap-currencies:active .arrow-down {
    transform: translateX(-100%);

}







#currency-from,
#currency-to {
margin-bottom: 10;
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

#convert-btn {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#input-group {
  display: flex;
  flex-direction: column; /* Stack label above the input field */
  align-items: flex-start; /* Align label and input to the start */
  text-align: left; /* Align the label text to the left */
  margin-bottom: 1rem; /* Add spacing below the input group */
}

#input-group label {
  margin-bottom: 5px; /* Add spacing between the label and input field */
  font-weight: bold; /* Optional: Make the label text bold */
}

#input-group input {
  width: 100%; /* Make the input field take full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.converter-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.converter-form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}