/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Container */
.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Exchange Rate Section */
#result {
  font-size: 3em;
  color: #333;
  font-weight: bold;
  display: none;
}

#csymbol {
  color: #333;
  font-weight: bold;
}

.exchange-rate {
  margin: 20px 0;
}

.exchange-rate p {
  font-size: 25px;
  font-weight: 100;
  color: #555;
}

.exchange-rate h2 {
  font-size: 32px;
  color: #333;
}

/* Currency Row */
.currency-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.currency-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 2rem;
}

.currency-row label {
  font-weight: bold;
}

/* Swap Button */
#swap-currencies {
  width: 50px;
  height: 40px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#swap-currencies .arrow-up,
#swap-currencies .arrow-down {
  svg {
    fill: inherit;
  }
}

#swap-currencies:active .arrow-up {
  transform: translateX(100%);
}

#swap-currencies:hover {
  background-color: rgb(0, 0, 0); 
  color: #ffffff;
}


#swap-currencies:hover {
  background-color: black;
}

#swap-currencies:hover .arrow-up,
#swap-currencies:hover .arrow-down {
  fill: white
}

/*  swap button */



/* Input Group */
#input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1rem;
}

#input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

#input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Form Elements */
.converter-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.converter-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

select {
  width: 100%;
  min-width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  appearance: none;
  cursor: pointer;
  max-width: 200px;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  max-width: 250px;
  max-height: 100px;
}

select:active {
  max-width: 100px;
  max-height: 200px;
}

option {
  font-size: 18px;
  color: #333;
  background-color: #fff;
  padding: 10px;
}

/* Optgroup Styles */
#frequent-currencies {
  font-weight: bold;
  color: #007bff;
  background-color: #f9f9f9;
  padding: 5px;
}

optgroup {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

/* Convert Button */
#convert-btn {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}